/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#year, .text-day{
  display: inline-block;
}

.axis--x .tick:nth-child(4){
  opacity: 0;
}

.axis--y{
  background-color:#fff
}

.text-day{
      margin: 0px 1px 0px 10px;
    position: relative;
    bottom: 5px;
}

.slider{
  min-height: 50px;
}

.focus circle {
        fill: black;
        stroke: white;
    }

/*.overlay {
        fill: none;
        pointer-events: all;
    }*/