/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: .5em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

#year, .text-day{
  display: inline-block;
}

.axis--x .tick:nth-child(4){
  opacity: 0;
} 

.text-day{
      margin: 0px 1px 0px 10px;
    position: relative;
    bottom: 5px;
}

.slider{
  min-height: 50px;
}

.overlay {
        fill: none;
        pointer-events: all;
    }

.focus .y{
    fill: none;
    stroke: #fff;
    stroke-width: 1.5px;
    stroke-dasharray: 3, 3
}


.year1{
  height: 30px;
}

@media (max-width: 600px) {

}